<div class="game-container">
	<div class="introduction-container">
    <div class="description">
      <h3>Сапер</h3>
      <p>Сапер - это наша страсть. Вот почему мы изо всех сил стараемся сделать его лучшей игрой в мире! Выберите подходящий уровень сложности и наслаждайтесь игрой!</p>
    </div>

    <form class=choose-level>
       <div class="beginner level" id="beginner">Новичок<br>(9x9)<img id="beginner" src="images/beginner.png" /></div>
       <div class="intermediate level" id="intermediate">Любитель<br>(16x16)<img id="intermediate" class="intermediate level" src="images/intermediate.png" /></div>
       <div class="expert level" id="expert">Профессионал<br>(30x16)<img id="expert" src="images/expert.png" /></div>
    </form>
    <div class="rules">
      <h3>Правила игры</h3>
      <p>В сапере очень простые правила. Игровое поле разделено на клетки, некоторые из которых заминированы. Для победы вам нужно открыть все клетки, не попадая на мины. В открытых клетках отображаются цифры, каждая цифра — это количество мин в соседних
                клетках. С помощью этой информации можно определить в каких клетках содержатся мины. Предполагаемую клетку с миной можно пометить флажком с помощью правой кнопки мыши.</p>
    </div> 
  </div>
</div>

